* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ccc;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo img {
  width: 200px;
}

.title__text {
  font-weight: 200;
  font-size: 25px;
  padding: 10px;
}

.search {
  display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}


/**/
.input[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 200px;
  transition: 0.5s;
}

.input[type = "text"]:hover {
  width: 240px;
}

.input[type = "text"]:focus {
  width: 280px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 10px;
  letter-spacing: 0.4px;
  color: #464646;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
 }
 
 button:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #8e8d8d, 2px 1px 8px 0px #c6c6c67a;
 }
 
 button:active {
  box-shadow: none;
 }

.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
}

.cards {
  margin: 20px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 5px;
}

.cards__card {
  width: 250px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(209, 217, 223, 0.5);
  box-shadow: 0px 0px 10px gray;
  border-radius: 10px;
}

.card__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}
.card__content {
  margin: 5px;
  text-align: justify;
}

.card__link {
  padding: 5px;
  margin: 5px;
  background: #22861f;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;
}

.error {
  margin-top: 15px;
  background-color: #ffcccc;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 4px;
  margin-bottom: 10px;
  display: none;
}

.error__mensaje {
  
  color: #ff0000;
  font-weight: bold;
  margin: 0;
}
